<div id="treeview"></div>

<script type="text/javascript">
  $(function(){

    $('#treeview').treeview({
      data: '<%= @data["tree"].to_json.to_s.html_safe %>'
    });

    $('#treeview').on('nodeSelected', function(event, data) {
      console.log(data);
    });
  });
</script>